{{#extend "layout"}}
	{{#content "title"}}Home Page Title{{/content}}

	{{#content "content"}}
		<ul>
			{{#each contentful.posts}}
				<li>{{title}}</li>
			{{/each}}
		</ul>
	{{/content}}

{{/extend}}