<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="">
		<meta name="keywords" content="">

		<title>{{{block "title"}}}</title>

		{{exec css "/"}}
	</head>
	<body>
		{{> "header"}}

		{{{block "content"}}}

	</body>
</html>